*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

  /* shared style starts here  */
  .make-center{
    margin: 0 auto ;
    max-width: 1280px ;
  }
  .make-center-t-s{
    margin-top: 85px;
  }
  .title-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .second-heading{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
  }
  .third-heading{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700
  }
  .display-flex{
    display: flex;
  }
  .r-btn{
    border-radius: 8px;

background: rgb(0, 106, 80);
  }


  /* shared style end here  */
  /* style for header part starts here  */

  header{

    border-radius: 24px;

    background: rgb(198, 228, 214);
    
    
    height: 580px;
  
    
   
   
  }
.banner{
    display: flex;
   
    margin: 80px 100px 80px 100px;
    
    
}


.banner div{
   
    width: 50%;
    margin-top: 80px;
}
.banner-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.banner-tile{
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
    font-size: 24px;
    
  
}
.banner-heading{
    color: rgb(14, 14, 14);
    font-weight: 700;
    font-size: 56px;
}
.banner-btn{
    border-radius: 8px;

    background: rgb(0, 106, 80); 
    border: none;
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);

    font-size: 18px;
    font-weight: 600;
   
}
.hero-holder{
    margin-left: 20px;
    
}
   
    /* style for header part ends here  */

    /* style for vision section starts here  */
    .card-btn{
        color: rgb(255, 255, 255);

    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    border: none;
    }
    .cb1{
        background: rgb(84, 144, 245);
    }

    .cb2{
        background-color: rgb(9, 161, 92);
    }
    .cb3{
        background-color: rgb(255, 194, 57);
    }
    .card{
        
        padding: 32px;
        border-radius: 16px;
        
      

    }
    .c1{
        background-color:rgba(84, 144, 245, 0.2); ;
    }
    .c2{
        background-color:rgb(198, 228, 214) ;
        
    }
    .c3{
        background-color: rgb(247, 235, 207);
    }

    .card-holder{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    /* style for vision section starts here  */
    /* Style for recent section starts here  */
.recent{
    
    height: 899px;
}
.recent-card{
    border-radius: 24px;

background: rgba(242, 240, 240, 0.897);
padding: 50px;
margin: 24px 0px;

display: flex;
/* justify-content: space-between; */
}
.recent-card-img img {
/* width: 100%; */
border-radius: 24px;
}
.recent-card-description{
    flex-direction: column;
}
.recent-m{
   
    margin-top: 0px;
} 

.recent-card-description{
   
    margin-left: 40px;
    flex-direction: column;
    justify-content: space-between;

}
.recent-card-2{
    flex-direction: row-reverse;
}
.recent-card-2 .recent-card-description{
    margin-left: 0px;
    margin-right: 55px;
}



    /* Style for recent section ends  here  */


    /* Style for donation section starts here */

    .donation{
        
        padding: 80px;
        
    }
    .donate-today{
        text-align: center;
    }
    .donation-card{
        
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

    background: rgb(249, 247, 247);
    padding: 40px;
    }

    .donation-card-holder{
        justify-content: space-between;
        margin-top: 50px;
    }
    .dc1{
        
        background: rgb(198, 228, 214);
    }
    .Amount input{
        width: 94%;
        
        text-align: center;
        padding: 20px 40px 20px 40px;
        background: rgba(245, 242, 242, 0.762); 
        border-radius: 10px;
        margin-top: 30px;
        margin-left: 40px;
        border: none;
    }
    .Donate-now{
        text-align: center;
        margin-top: 30px;
    }

     /* Style for donation section ends here */


     /* style for newsletter section starts here  */
    .newsletter{
        padding: 80px 100px 80px 100px;
        text-align: center;
        border-radius: 24px;

background: rgb(198, 228, 214);
    }

    .in-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        
        margin-top: 30px;
    }

    .in-btn input[type="email"] {
        width: 70%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px 0 0 5px;
        padding-left: 30px;
    }

    .in-btn button {
        padding: 10px 20px;
        background-color: #007b50;
        color: #fff;

        border: none;
        border-radius: 0 5px 5px 0;
        
    }
    .n-p{
        margin-top: 30px;
    }

    
     /* style for newsletter section ends here  */

